/* Reset default margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    height: 100vh;
    font-family: 'Metal Mania', sans-serif; /* Ensure font-family consistency */
    font-size: 5rem; /* Adjust this as needed */
    text-align: center;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;
}

/* Additional styling for better visibility */
body > div {
    line-height: 1.5;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    width: fit-content;
}

.large-text {
    font-size: 38px;
    display: block;
    width: 100%;
}

.small-text {
    font-size: 26px;
    display: block;
    width: 100%;
}
